.header_block{
    position: absolute;
    color: #fff;
    top: 70px;
    width: 100%;
    min-width: 780px;
    height: 100px;
    .header_content{
        margin: 0 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .button_link{
            margin-left: 2.5em;
        }
    }
}
@media screen and (max-width: 1024px) {
    .header_block{
        top: 30px;
        width: 90vw;
        min-width: 300px;
        .header_content{
            width: 90%;
        }
    }
}